/* Topic and forum Search */

.search-box .inputbox {
	border-radius: 0;
}

.search-box button.search-icon {
	border-radius: 0;
}

.search-box a.button {
	border-radius: 0;
}

/* Search box (header)
--------------------------------------------- */
.search-header {
	border-radius: 0;
}
